<mat-progress-bar mode="indeterminate" *ngIf="isLoading == true" ></mat-progress-bar>

<div class="modal-form-container">

  <mat-dialog-content [formGroup]="form">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
    <button mat-raised-button (click)="close()">Close</button>
  </mat-dialog-actions>

</div>



