<div class="head">
    <div class="title">{{ info.title }}</div>
    <div class="add"> <p (click)="addTaskDialog(info.title)">Add</p> </div>
</div>

  <div class="empty"
      [ngStyle]="{'border-color': info.color }"
      *ngIf="this.info.data.length == 0">
    <p>You have no {{info.title | lowercase}} tasks yet,</p>
    <div>
      <button
      [ngStyle]="{'background-color': info.color }"
      (click)="addTaskDialog(info.title)"
      >
      Add?</button>
    </div>
  </div>

  <div class="body">
    <div class="items">
      <div class="item"
      *ngFor="let task of info.data"
      cdkDrag
      [ngStyle]="{'border-color': info.color }"
      (click)="activateDialog(task)">
          <div class="item-title">
            <h2>{{task.title}}</h2>
            <span>Deadline: {{ task.deadline }}</span>
            <hr>
          </div>
          <div class="checklist">
            <h3>Checklist:</h3>
             <div class="none" *ngIf="task.checklists == null">
               None yet
             </div>
             <div class="list" *ngIf="task.checklists != null">
               <ul>
                 <li *ngFor="let checklist of task.checklists">
                    {{checklist.Title | brief }} <span *ngIf="checklist.isChecked == true">Done</span>
                 </li>
               </ul>
             </div>
          </div>
          <div class="toolbar">
            <div class="delete" (click)="deleteTask($event, task.taskId)">
              Delete
            </div>
          </div>
      </div>
    </div>
  </div>
