.page-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right , #cccdebe5, #e1e2fe );
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero > div{
  padding: 0.5rem;
  padding-left: 2rem;
  min-height: 50%;
  width: 50%;
  display: flex;
  position: relative;
}

.page-container img{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: optimizeSpeed;
}
