<div class="layout">
    <div class="side-nav">
      <div class="menu">
        <h2>Dashboards</h2>
        <ul>
          <li [routerLink]="['/dashboard/personal']" routerLinkActive="active" >  Personal </li>
          <li [routerLink]="['/dashboard/myboards']" routerLinkActive="active"> My Boards</li>
          <li  [routerLink]="['/dashboard/adminboards']" routerLinkActive="active" > Created Boards </li>
          <li> My profile </li>
        </ul>
      </div>
      <div class="signout">
        <button (click)="signout()">Sign Out</button>
      </div>
    </div>
    <div class="main">
      <div class="top">
        <div class="background"></div>
        <div class="search">
          <input type="search" placeholder="Search for item...">
        </div>
      </div>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
</div>

