.head{
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.head button{
  border: none;
  outline: none;

  position: relative;
  display: inline-block;
  padding: 8px 12px;
  color: whitesmoke;
  background-color: #2369f5;
  border-radius: 5px;
  margin-top: 1rem;
  border-bottom: solid 2px #224ea7;
  cursor: pointer;
}

.head button:hover{
  border-bottom: solid 2px transparent;
}

.head button:active{
  top: 3px;
}

.groups{
  width: 100%;
}

.groups ul{
  list-style: none;
  padding: 0;
}

.groups ul li{
  display: block;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 4px #c0c2ff;

  margin: 1rem 0;
  border-left: 5px solid #2369f5;
  padding: 1rem 0.5rem;


  transition: border 0.5s ease;

  cursor: pointer;
}

.groups ul li .head{
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.groups ul li .head span{
  font-style: italic;
  font-size: 0.9rem;
  color: #978e8e;
}

.groups ul li .head button{
  float:right;
  margin: 0.5rem 1rem;
  background-color: #d86d69;
  border-bottom-color: #a5212b;
}

.groups ul li .head button:hover {
  border-bottom: solid 2px transparent;
}

.groups ul li:hover{
  border-width: 2px;
}


.description{
  color: #5e5b5b;
  font-weight: 500;
}
